body {
    
    background-color: rgba(102, 51, 0, 0.7);
    margin: 0;
}

.App {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}