.noteSpace {
    height: 100%;
    width: 77vw;
    border: 2px solid black;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.noteSpaceHeader {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.noteSpaceTitle {
    width: 75%;
    height: 40%;
    box-sizing: border-box;
}

.noteSpaceBody {
    height: 88%;
    width: 97%;
    box-sizing: border-box;
}